/* .your-carousel-wrapper-class .slick-prev,
.your-carousel-wrapper-class .slick-next {
  font-size: 24px; 
  color: #ad3b3b;    
} */

.your-carousel-wrapper-class .slick-prev {
    left: -10%;
  }
  
  .your-carousel-wrapper-class .slick-next {
    right: -10%; /* Adjust the position if needed */
  }

  